@import "tailwindcss";
@import "@heroui/styles";
@import "./font.scss"; 

@custom-variant dark (&:where(.dark, .dark *));

/* 隐藏浏览器默认的密码可见性按钮 */
input[type="password"] {
  &::-ms-reveal,
  &::-ms-clear {
    display: none;
  }
  &::-webkit-credentials-auto-fill-button {
    visibility: hidden;
  }
  &::-webkit-password-toggle-button {
    display: none;
  }
}
